html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.board {
  width: 600px;
  height: 600px;
  display: grid;
  border: solid black 2px;
}

.y {
  display: grid;
  grid-template-columns: auto auto auto;
}

.x {
  border: solid black 2px;
}

.x:hover {
  cursor: pointer;
}

.x[mark="X"] {
  background-image: url("assets/x.svg");
  background-size: cover;
}

.x[mark="O"] {
  background-image: url("assets/o.svg");
  background-size: cover;
}

h1 {
  font-family: sans-serif;
}

button {
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
